<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- nav bar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <title>A.I. Diagnosis dashboard</title>
</head>

<body>
    <center class="dashboard-header">
        <div class="host-header">
            <h1>A.I. Diagnosis Control Dashboard</h1>
        </div>
        <nav class="small-nav navbar navbar-expand-lg" style="background-color: lightgrey;">
            <div class="container-fluid" style="justify-content:space-evenly;">
                <a class="navbar-brand" href="/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                          </svg><br> See Patient Site</a>
                <a href="/host/login" class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                  </svg> <br> Dashboard </a>
                <a class="navbar-brand" href="/host/newPatient"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                          </svg> <br> Add new patient</a>
                <a class="navbar-brand" href="/host/seepartners"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg> <br> See Partners</a>
                <a class="navbar-brand" href="/host/message/new"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-exclamation-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                          </svg> <br> New Message!</a>
                <a class="navbar-brand" href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
                        <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"/>
                        <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"/>
                      </svg> <br> Logout</a>
            </div>
        </nav>
    </center>
    <div style="width: 700px; margin:20px auto">
        <h3 style="text-align: center; padding: 20px;">Edit Info</h3>
        <div class="info">
            <div class="info2" id="patientName">
                <h3>Name:</h3>
                <p>{{patient.firstName}} {{patient.lastName}}</p>
            </div>
            <div class="edit">
                <button class="btn btn-primary" id="editbtn-name" onclick=editName()>Edit</button>
            </div>
        </div>
        <div id="editName" class="row align-items-center infoForm" style="display: none;">
            <form action="/host/{{patient.id}}/detail/updateName" method="POST">
                {% csrf_token %}
                <label class="col col-form-label" for="firstName"><h4>First Name:</h4></label>
                <div class="col">
                    <input class="form-control" type="text" name="firstName" placeholder="{{patient.firstName}}">
                </div>
                <label class="col col-form-label" for="lastName"><h4>Last Name:</h4></label>
                <div class="col">
                    <input class="form-control" type="text" name="lastName" placeholder="{{patient.lastName}}">
                </div>
                <br>
                <center class="edit-btn">
                    <button class="btn btn-primary">Submit</button>
                    <a href="/host/{{patient.id}}/settings" class="btn btn-outline-primary" id="cancelbtn-name" style="display: none; width: 100px; margin-top: 10px;">Cancel</a>
                </center>
            </form>
        </div>
        <script>
            function editName() {
                document.getElementById("patientName").style.display = "none";
                document.getElementById("editName").style.display = "block";
                document.getElementById("cancelbtn-name").style.display = "block";
                document.getElementById("editbtn-name").style.display = "none";

            }
        </script>

        <div class="info">
            <div class="info2" id="patientGender">
                <h3>Gender: </h3>
                <p>{{patient.sex}}</p>
            </div>
            <div class="edit">
                <button class="btn btn-primary" id="editbtn-gender" onclick=editGender()>Edit</button>

            </div>
            <script>
                function editGender() {
                    document.getElementById("patientGender").style.display = "none";
                    document.getElementById("editGender").style.display = "block";
                    document.getElementById("cancelbtn-gender").style.display = "block";
                    document.getElementById("editbtn-gender").style.display = "none";
                }
            </script>
        </div>
        <div id="editGender" class="row align-items-center" style="display: none;">
            <form action="/host/{{patient.id}}/detail/updateGender" method="POST" style="text-align: center;">
                {% csrf_token %}
                <h4>Gender</h4>
                <br>
                <input type="radio" class="form-check-input" id="male" name="sex" value="Male" checked="checked">
                <label class="check" for="male" class="form-check-label">Male</label>
                <input type="radio" class="form-check-input" id="female" name="sex" value="Female">
                <label class="check" for="female" class="form-check-label">Female</label>
                <center class="edit-btn top10">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                    <a href="/host/{{patient.id}}/settings" class="btn btn-outline-primary" id="cancelbtn-gender" style="display: none; width: 100px; margin-top: 10px;">Cancel</a>
                </center>
            </form>

        </div>
        <div class="info">
            <div class="info2" id="patientPhone">
                <h3>Phone Number:</h3>
                <p>{{patient.phone_number}}</p>
            </div>

            <div class="edit">
                <button class="btn btn-primary" id="editbtn-phone" onclick=editPhone()>Edit</button>
            </div>
            <script>
                function editPhone() {
                    document.getElementById("patientPhone").style.display = "none";
                    document.getElementById("editPhone").style.display = "block";
                    document.getElementById("cancelbtn-phone").style.display = "block";
                    document.getElementById("editbtn-phone").style.display = "none";
                }
            </script>
        </div>

        <div id="editPhone" style="display: none;" class="row align-items-center">
            <form action="/host/{{patient.id}}/detail/updatePhone" method="POST">
                {% csrf_token %}
                <label class="col col-form-label" for="phone"><h4>Enter your 10 digit Cell Phone Number</h4></label>
                <div class="col">
                    <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="{{patient.phone_number}}" />
                    <small>No space or parentheses needed. For example: (408) 123-4567 just enter 4081234567</small>
                </div>
                <center class="edit-btn top10">
                    <button class="btn btn-primary">Submit</button>
                    <a href="/host/{{patient.id}}/settings" class="btn btn-outline-primary" id="cancelbtn-phone" style="display: none; width: 100px; margin-top: 10px;">Cancel</a>
                </center>
            </form>
        </div>
        <div class="info">
            <div class="info2" id="patientdob">
                <h3>Date of Birth: </h3>
                <p>{{patient.date_of_birth}}</p>
            </div>

            <div class="edit">
                <button class="btn btn-primary" id="editbtn-dob" onclick=editdob()>Edit</button>
            </div>
            <script>
                function editdob() {
                    document.getElementById("patientdob").style.display = "none";
                    document.getElementById("editdob").style.display = "block";
                    document.getElementById("cancelbtn-dob").style.display = "block";
                    document.getElementById("editbtn-dob").style.display = "none";
                }
            </script>
        </div>
        <div id="editdob" style="display: none;" class="row align-items-center">
            <form action="/host/{{patient.id}}/detail/updateDob" method="POST" style="text-align: center;">
                {% csrf_token %}
                <label class="col col-form-label" for="dob"><h4>Date of Birth</h4></label>
                <div class="col">
                    <input style="width: 220px;" type="date" id="dob" name="date_of_birth" placeholder="{{patient.date_of_birth}}">
                </div>
                <script>
                    dob.max = new Date().toISOString().split("T")[0];
                </script>
                <center class="edit-btn top10">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                    <a href="/host/{{patient.id}}/settings" class="btn btn-outline-primary" id="cancelbtn-dob" style="display: none; width: 100px; margin-top: 10px;">Cancel</a>
                </center>
            </form>
        </div>
        <div class="info">
            <div class="info2" id="patientemail">
                <h3>Email: </h3>
                <p>{{patient.email}}</p>
            </div>
            <div class="edit">
                <button class="btn btn-primary" id="editbtn-email" onclick=editemail()>Edit</button>
            </div>
            <script>
                function editemail() {
                    document.getElementById("patientemail").style.display = "none";
                    document.getElementById("editemail").style.display = "block";
                    document.getElementById("cancelbtn-email").style.display = "block";
                    document.getElementById("editbtn-email").style.display = "none";
                }
            </script>
        </div>
        <div id="editemail" style="display: none;" class="row align-items-center">
            <form action="/host/{{patient.id}}/detail/updateEmail" method="POST" style="text-align: center;">
                {% csrf_token %}
                <label class="col col-form-label" for="email"><h4>Email</h4></label>
                <div class="col">
                    <input style="width: 220px;" type="email" id="email" name="email" placeholder="{{patient.email}}">
                </div>
                <center class="edit-btn top10">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                    <a href="/host/{{patient.id}}/settings" class="btn btn-outline-primary" id="cancelbtn-email" style="display: none; width: 100px; margin-top: 10px;">Cancel</a>
                </center>
            </form>
        </div>
        <center style="margin-top:20px;">
            <form action="/host/resetpassword/{{patient.id}}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="password" value="12345" id="">
                <button class="btn btn-danger">Reset Password</button>
            </form>
        </center>
    </div>
</body>

</html>