<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- nav bar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Add Patinet</title>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0); 
        window.onunload = function() {
            null
        };
    </script>
    <script>
        $(document).ready(function() {
            var today = new Date();
            $("#dob").val(getFormattedDate(today));

            function getFormattedDate(date) {
                return date.getFullYear() +
                    "-" +
                    ("0" + (date.getMonth() + 1)).slice(-2) +
                    "-" +
                    ("0" + date.getDate()).slice(-2);
            }
        })
    </script>


</head>

<body>
    <center>
        <div class="host-header">
            <h1>A.I. Diagnosis Control Dashboard</h1>
        </div>
        <nav class="small-nav navbar navbar-expand-lg" style="background-color: lightgrey;">
            <div class="container-fluid" style="justify-content:space-evenly;">
                <a class="navbar-brand" href="/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                          </svg><br> See Patient Site</a>
                <a href="/host/login" class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                  </svg> <br> Dashboard </a>
                <a class="navbar-brand" href="/host/newPatient"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                          </svg> <br> Add new patient</a>
                <a class="navbar-brand" href="/host/seepartners"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg> <br> See Partners</a>
                <a class="navbar-brand" href="/host/message/new"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-exclamation-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                          </svg> <br> New Message!</a>
                <a class="navbar-brand" href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
                        <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"/>
                        <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"/>
                      </svg> <br> Logout</a>
            </div>
        </nav>
    </center>
    <div style="width: 500px; margin: 20px auto; padding:30px; border-radius: 50px; box-shadow:0 5px 5px rgba(86, 85, 85, 0.746) ;">
        <center>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </center>
        <form action="/host/addPatient" method='POST' class="form1 needs-validation" novalidate="">
            {% csrf_token %}
            <div class="row fieldArrange">
                <div>
                    <label for="firstName" class="form-label"><h5>First Name</h5></label>
                </div>
                <div>
                    <input type="text" class="form-control" name="firstName" id="" placeholder="First Name" required>
                    <div class="invalid-feedback">
                        <p>Please enter patient's First Name.</p>
                    </div>
                </div>
            </div>
            <div class="row fieldArrange">
                <div>
                    <label for="lastName" class="form-label"><h5>Last Name</h5></label>
                </div>
                <div>
                    <input type="text" class="form-control" name="lastName" id="" placeholder="Last Name" required>
                    <div class="invalid-feedback">
                        <p>Please enter patient's Last Name.</p>

                    </div>
                </div>
            </div>
            <div class="mb-3 fieldArrange">
                <center>
                    <h4>Gender</h4>
                    <input type="radio" class="form-check-input" id="male" name="sex" value="Male" checked="checked">
                    <label class="check" for="male" class="form-check-label">Male</label>

                    <input type="radio" class="form-check-input" id="female" name="sex" value="Female">
                    <label class="check" for="female" class="form-check-label">Female</label>

                </center>
            </div>
            <div class="mb-3 fieldArrange">
                <center>
                    <h4><label for="dob" class="form-label">Date of Birth </label></h4>

                    <input style="width: 220px;" type="date" id="dob" name="date_of_birth" onfocus="this.max=new Date().toISOString().split('T')[0]">
                </center>
            </div>
            <div class="row fieldArrange">
                <div class="has-validation">
                    <label for="email" class="form-label"><h5>Email Address </h5></label>

                    <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                    <div class="invalid-feedback">
                        <br>
                        <p>Please enter a vaild email address.</p>

                    </div>
                </div>
            </div>
            <!--  -->
            <br>
            <div class="row fieldArrange">

                <div class="">
                    <label for="phone" class="form-label"><h5>Enter your 10 digit Cell Phone Number</h5></label>
                    <br>
                    <small>No space or parentheses needed. <br> For example: (408) 123-4567 just enter 4081234567</small>
                    <br>

                    <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
                    <div class="invalid-feedback">
                        <br>
                        <p>Please enter your valid 10 digit Cell Phone Number.</p>

                    </div>
                </div>
            </div>
            <br>
            <center>
                <button class="btn btn-primary" style="padding: 10px; width: 100px;">ADD</button>
            </center>
            <!-- <script>
                function showPassword() {
                    var x = document.getElementById("show_hide_password");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <script>
                function showConfirmPassword() {
                    var x = document.getElementById("show_hide_confirm_passowrd");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script> -->
            <script>
                (() => {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.from(forms).forEach(form => {
                        form.addEventListener('submit', event => {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
                })()
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        </form>
    </div>
    </div>
</body>


</html>