<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Patient Form Display</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0); 
        window.onunload = function() {
            null
        };
    </script>
    <script>
        $(document).ready(function() {
            var today = new Date();
            $("#dob").val(getFormattedDate(today));

            function getFormattedDate(date) {
                return date.getFullYear() +
                    "-" +
                    ("0" + (date.getMonth() + 1)).slice(-2) +
                    "-" +
                    ("0" + date.getDate()).slice(-2);
            }
        })
    </script>


</head>

<body>
    <header class="index">
        <h3>MAISHEN® A.I. DIAGNOSIS <br><br> 脉神®人工智能诊断系统 </h3>
        <div class="login">
            <div class="bigscreen">
                <a style="margin-right: 20px; box-shadow: 5px 10px 5px #ffc10778;" class="col-md-auto btn btn-outline-warning" href="/loginE" style="color: black; text-decoration: none;">Sign In <br> 登录 </a>
                <a style="color: black; text-decoration: none; box-shadow: 5px 10px 5px #ffc10778;" class="col-md-auto btn btn-warning" href="/register">Sign Up <br> 注册 </a>
            </div>
        </div>
        <div class="desktop-nav">
            <a class="btn" href="/">
                <h5>Home<br> 主页</h5>
            </a>
            <a class="btn" href="/blog">
                <h5>Blog<br> 最新消息</h5>
            </a>
            <a class="btn" href="/aboutus">
                <h5>About<br> 关于我们</h5>
            </a>
            <a class="btn" href="/intro">
                <h5>System<br> 系统介绍</h5>
            </a>
            <a class="btn" href="/joinus">
                <h5>Career<br> 加入我们</h5>
            </a>
        </div>
        <div class="phone-view">
            <div class="phoneLogin">
                <a class="btn" href="/loginE">Sign In <br> 登录 </a>
                <a class="btn" href="/register">Sign Up <br> 注册 </a>
                <a class="btn" href="/">
                    Home<br> 主页
                </a>
                <a class="btn" href="/blog">
                    Blog<br> 更新
                </a>
                <a class="btn" href="/aboutus">
                    About<br> 关于
                </a>
                <a class="btn" href="/intro">
                    System<br> 系统
                </a>
                <a class="btn" href="/joinus">
                    Career<br> 加入
                </a>
            </div>
        </div>
    </header>

    <div id="large-header" class="large-header" style="height:1630px ;">
        <canvas id="demo-canvas"></canvas>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script>
            (function() {
                var width, height, largeHeader, canvas, ctx, points, target, animateHeader = true;
                // Main
                initHeader();
                initAnimation();
                addListeners();

                function initHeader() {
                    width = window.innerWidth;
                    height = window.innerHeight;
                    target = {
                        x: width / 2,
                        y: height / 2
                    };



                    canvas = document.getElementById('demo-canvas');
                    canvas.width = width;
                    canvas.height = height;
                    ctx = canvas.getContext('2d');

                    // create points
                    points = [];
                    for (var x = 0; x < width; x = x + width / 20) {
                        for (var y = 0; y < height; y = y + height / 20) {
                            var px = x + Math.random() * width / 20;
                            var py = y + Math.random() * height / 20;
                            var p = {
                                x: px,
                                originX: px,
                                y: py,
                                originY: py
                            };
                            points.push(p);
                        }
                    }

                    // for each point find the 5 closest points
                    for (var i = 0; i < points.length; i++) {
                        var closest = [];
                        var p1 = points[i];
                        for (var j = 0; j < points.length; j++) {
                            var p2 = points[j]
                            if (!(p1 == p2)) {
                                var placed = false;
                                for (var k = 0; k < 5; k++) {
                                    if (!placed) {
                                        if (closest[k] == undefined) {
                                            closest[k] = p2;
                                            placed = true;
                                        }
                                    }
                                }

                                for (var k = 0; k < 5; k++) {
                                    if (!placed) {
                                        if (getDistance(p1, p2) < getDistance(p1, closest[k])) {
                                            closest[k] = p2;
                                            placed = true;
                                        }
                                    }
                                }
                            }
                        }
                        p1.closest = closest;
                    }

                    // assign a circle to each point
                    for (var i in points) {
                        var c = new Circle(points[i], 2 + Math.random() * 2, 'rgba(255,255,255,0.3)');
                        points[i].circle = c;
                    }
                }

                // Event handling
                function addListeners() {
                    if (!('ontouchstart' in window)) {
                        window.addEventListener('mousemove', mouseMove);
                    }
                    window.addEventListener('scroll', scrollCheck);
                    window.addEventListener('resize', resize);
                }

                function mouseMove(e) {
                    var posx = posy = 0;
                    if (e.pageX || e.pageY) {
                        posx = e.pageX;
                        posy = e.pageY;
                    } else if (e.clientX || e.clientY) {
                        posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
                        posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
                    }
                    target.x = posx;
                    target.y = posy;
                }

                function scrollCheck() {
                    if (document.body.scrollTop > height) animateHeader = false;
                    else animateHeader = true;
                }

                function resize() {
                    width = window.innerWidth;
                    height = window.innerHeight;
                    canvas.width = width;
                    canvas.height = height;
                }

                // animation
                function initAnimation() {
                    animate();
                    for (var i in points) {
                        shiftPoint(points[i]);
                    }
                }

                function animate() {
                    if (animateHeader) {
                        ctx.clearRect(0, 0, width, height);
                        for (var i in points) {
                            // detect points in range
                            if (Math.abs(getDistance(target, points[i])) < 4000) {
                                points[i].active = 0.3;
                                points[i].circle.active = 0.6;
                            } else if (Math.abs(getDistance(target, points[i])) < 20000) {
                                points[i].active = 0.1;
                                points[i].circle.active = 0.3;
                            } else if (Math.abs(getDistance(target, points[i])) < 40000) {
                                points[i].active = 0.02;
                                points[i].circle.active = 0.1;
                            } else {
                                points[i].active = 0;
                                points[i].circle.active = 0;
                            }

                            drawLines(points[i]);
                            points[i].circle.draw();
                        }
                    }
                    requestAnimationFrame(animate);
                }

                function shiftPoint(p) {
                    TweenLite.to(p, 1 + 1 * Math.random(), {
                        x: p.originX - 50 + Math.random() * 100,
                        y: p.originY - 50 + Math.random() * 100,
                        ease: Circ.easeInOut,
                        onComplete: function() {
                            shiftPoint(p);
                        }
                    });
                }

                // Canvas manipulation
                function drawLines(p) {
                    if (!p.active) return;
                    for (var i in p.closest) {
                        ctx.beginPath();
                        ctx.moveTo(p.x, p.y);
                        ctx.lineTo(p.closest[i].x, p.closest[i].y);
                        ctx.strokeStyle = 'rgba(156,217,249,' + p.active + ')';
                        ctx.stroke();
                    }
                }

                function Circle(pos, rad, color) {
                    var _this = this;

                    // constructor
                    (function() {
                        _this.pos = pos || null;
                        _this.radius = rad || null;
                        _this.color = color || null;
                    })();

                    this.draw = function() {
                        if (!_this.active) return;
                        ctx.beginPath();
                        ctx.arc(_this.pos.x, _this.pos.y, _this.radius, 0, 2 * Math.PI, false);
                        ctx.fillStyle = 'rgba(156,217,249,' + _this.active + ')';
                        ctx.fill();
                    };
                }

                // Util
                function getDistance(p1, p2) {
                    return Math.pow(p1.x - p2.x, 2) + Math.pow(p1.y - p2.y, 2);
                }


            })();
        </script>
        <div class="registerForm">
            <center>
                <h5>Register</h5>
                <h5>注册账户</h5>
                <p>Date of Visit: {{today_date}}</p>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </center>
            <form action="/register/new" method='POST' class="form1 needs-validation" novalidate="">
                {% csrf_token %}
                <div class="row fieldArrange">
                    <div>
                        <label for="firstName" class="form-label">First Name</label>
                        <label for="firstName" class="form-label">名</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="firstName" id="" placeholder="First Name" required>
                        <div class="invalid-feedback">
                            <p>Please enter your First Name.</p>
                            <p>请输入您的名字</p>
                        </div>
                    </div>
                </div>
                <div class="row fieldArrange">
                    <div>
                        <label for="lastName" class="form-label">Last Name</label>
                        <label for="lastName" class="form-label">姓</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="lastName" id="" placeholder="Last Name" required>
                        <div class="invalid-feedback">
                            <p>Please enter your Last Name.</p>
                            <p>请输入您的姓</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3 fieldArrange">
                    <center>
                        <h6>What's your gender</h6>
                        <h6>您的性别</h6>
                        <input type="radio" class="form-check-input" id="male" name="sex" value="Male" checked="checked">
                        <label class="check" for="male" class="form-check-label">Male</label>

                        <input type="radio" class="form-check-input" id="female" name="sex" value="Female">
                        <label class="check" for="female" class="form-check-label">Female</label>

                    </center>
                </div>
                <div class="mb-3 fieldArrange">
                    <center>
                        <label for="dob" class="form-label">Date of Birth </label>
                        <label for="dob" class="form-label">您的出生日期</label>
                        <input style="width: 220px;" type="date" id="dob" name="date_of_birth" onfocus="this=dob.max">
                    </center>
                </div>
                <script>
                    dob.max = new Date().toISOString().split("T")[0];
                </script>
                <div class="row fieldArrange">
                    <div class="has-validation">
                        <label for="email" class="form-label">Email Address </label>
                        <label for="email" class="form-label">电子邮箱</label>
                        <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                        <div class="invalid-feedback">
                            <br>
                            <p>Please enter a vaild email address.</p>
                            <p>请输入正确的电子邮箱</p>
                        </div>
                    </div>
                </div>
                <!--  -->

                <div class="row fieldArrange">
                    <div class="">
                        <label for="phone" class="form-label">Enter your 10 digit Cell Phone Number</label>
                        <br>
                        <label for="phone" class="form-label">您的10位数美国电话号码</label>
                        <br>
                        <small>No space or parentheses needed. For example: (408) 123-4567 just enter 4081234567</small>
                        <br>
                        <small>注：电话号码不需要填写括号或者横线</small>
                        <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
                        <div class="invalid-feedback">
                            <br>
                            <p>Please enter your valid 10 digit Cell Phone Number.</p>
                            <p>请输入正确的10位数美国电话号码</p>
                        </div>
                    </div>
                </div>
                <div class="row fieldArrange">
                    <!-- <div class="">
                        <h4>Insurance Info</h4>
                        <label for="insurance">Insurance type: ("N/A" if no insurance)</label>
                        <input type="text" class="form-control" name="insurance" id="insurance">
                        <label for="insurnaceId">Insurance ID number: </label>
                        <input type="text" class="form-control" name="insuranceId" id="insuranceId">
                    </div>
                    <div class="">
                        <h4>How do you hear about us?</h4>
                        <select class="form-select" name="hearUs" id="hearUs">
                        <option value="Youtube">Youtube</option>
                        <option value="Google">Google</option>
                        <option value="Social Media">Social Media</option>
                        <option value="Refer">Refer by friends</option>
                    </select>
                        <textarea class="form-control" style="display:none" name="hearUsOther" placeholder="Your friend's name" id="hearUsOther" style="height: 100px"></textarea>
                    </div> -->

                    <div class="">
                        <label for="password">Create a password (at least 5 characters)</label>
                        <label for="password">请创建一个密码 (至少5位数)</label>
                        <input type="password" class="form-control" name="password" id="show_hide_password" required>

                        <center>
                            <input type="checkbox" onclick="showPassword()">&nbsp; <small>Show Password 显示密码</small>
                        </center>
                        <label for="passwordConfirm">Confirm your password</label>
                        <label for="passwordConfirm">重新输入您创建的密码</label>
                        <input type="password" class="form-control" name="passwordConfirm" id="show_hide_confirm_passowrd" required>
                        <center>
                            <input type="checkbox" onclick="showConfirmPassword()">&nbsp; <small>Show Password 显示密码</small>
                        </center>
                    </div>
                </div>
                <br>
                <center><button class="btn btn-primary">Submit <br> 确认并提交 </button></center>
                <script>
                    function showPassword() {
                        var x = document.getElementById("show_hide_password");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
                <script>
                    function showConfirmPassword() {
                        var x = document.getElementById("show_hide_confirm_passowrd");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
                <script>
                    (() => {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        const forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.from(forms).forEach(form => {
                            form.addEventListener('submit', event => {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                    })()
                </script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
            </form>
        </div>
    </div>
    <!-- <footer class="large-footer">
        <h5>COMPANY</h5>
        <h5>RESOURCES</h5>
        <h5>FEATURES</h5>
        <h5>FIND US</h5>
    </footer>
    <footer class="phone-footer">
        <p>COMPANY</p>
        <p>RESOURCES</p>
        <p>FEATURES</p>
        <p>FIND US</p>
    </footer> -->
</body>


</html>